{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import"
  ],
  "rules": {
    "import/no-unresolved": [
      2,
      {
        "commonjs": true,
        "amd": true,
        "caseSensitive": false
      }
    ],
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "@typescript-eslint/no-empty-function": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    },
    "eslint no-duplicate-imports": [
      "error",
      {
        "includeExports": true
      }
    ]
  }
}
